[ req ]
default_bits       = 2048
default_md         = sha256
default_keyfile    = key.pem
prompt             = no
distinguished_name = dn
x509_extensions    = v3_req

[ dn ]
C  = FR
ST = Alsace
L  = Mulhouse
O  = 42
CN = 10.11.4.13

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 10.11.4.13
